{
	"env": {
		"browser": true,
		"es2021": true
	},
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "cypress"],
	"extends": [
		"plugin:cypress/recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:react/recommended",
		"plugin:react-hooks/recommended"
	],
	"rules": {
		"@typescript-eslint/ban-ts-comment": "warn",
		"comma-dangle": "off",
		"multiline-ternary": "off",
		"no-use-before-define": "off",
		"space-before-function-paren": "off",
		"react/prop-types": "off",
		"react/no-unescaped-entities": "off",
		"react/display-name": "off",
		"react/react-in-jsx-scope": "off",
		"cypress/trailing-comma": "off",
		"no-console": "error"
	}
}
